* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

img {
    margin: auto;
}

/* Navigation bar */
#navBar {
    display: flex;
    justify-content: right;
    gap: 0.5vw;
    width: 100%;
    padding: 2vw;
}

#logo {
    color: white;   
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
    margin-right: auto;
}

#aqi, #astro, #alerts {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white;
    color: white;
    height: inherit;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    width: 7.5%;
}

#cityInput {
    width: 30%;
    font-size: 1vw;
    padding-left: 1vw;
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cityInput:focus {
    outline: none;
}

/* Content on top of map */
#content {
    display: flex;
    width: 100%;
}

/* Left side of content */
#left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 3vw;
}

#temp {
    font-size: 4vw;
    font-family: 'Lilita One', cursive;
    background: -webkit-linear-gradient(rgb(26, 0, 219), rgb(4, 149, 197)); /* font color gradient */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#feelsLike, #curr_time, #loc, #misc > div {
    font-size: 1.25vw;
    font-family: 'ABeeZee', sans-serif;
}

#left > div {
    padding: 0.5vw;
    backdrop-filter: blur(20px);
}

/* Right side of content */
#right {
    position: fixed;
    overflow-y: scroll;
    width: 60%;
    right: 0;
    background-image:linear-gradient(rgba(26, 0, 219, 0.8), rgba(4, 149, 197, 0.8));
    height: 100%;
    backdrop-filter: blur(2px);
}

/* hide scroll bar */
#right::-webkit-scrollbar {
    /* for chrome, safari and opera */
    display: none;
}

#right {
    -ms-overflow-style: none;
    /* IE and edge */
    scrollbar-width: none;
    /* Firefox */
}

#misc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#misc > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 2vw;
    border-left: solid;
    height: 100%;
}

#weather {
    text-align: center;
    border: none !important;
    font-size: 2vw !important;
}

/* Hour Forecast */
#futureHoursParent {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-content: center;
    color: white;
    font-size: 1vw;
    font-family: 'ABeeZee', sans-serif;
}

#futureHoursHeading {
    grid-column: 1 / 4;
    font-size: 2vw;
    padding: 2vw;
}

#futureHours {
    display: flex;
    justify-content: start;
    transition-timing-function: ease-in-out;
}

#futureHoursContainer {
    overflow: hidden;
}

.futureHoursChild {
    display: flex;
    flex-direction: column;
    flex: 0 0 8.05vw;
    text-align: center;
    border-left: solid;
    padding: 0.25vw;
}

.futureHoursChild:first-child {
    border: none;
}

#dotIndicator {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 2vw;
}

#after, #before, #aqi, #astro, #alerts {
    cursor: pointer;
}

#d0, #d1, #d2, #d3 {
    transition: color 1s;
}

/* Day forecast */
#futureDaysParent {
    color: white;
    font-size: 1vw;
    font-family: 'ABeeZee', sans-serif;
}

#futureDaysHeading {
    font-size: 2vw;
    padding: 2vw
}

#futureDays {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}

.futureDaysChild {
    border-left: solid;
    padding: 0.25vw;
}

.dayDate, .dayTemp{
    margin: auto;
    text-align: center;
    padding: 0.5vw;
}

.futureDaysChild:first-child {
    border: none;
}
