* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fcfaf8;
}

/* Navigation bar */
#navBar {
    background-image: linear-gradient(45deg, black 60%, grey 40%);
    width: 100%;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

#logo {
    color: white;   
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
}

#cityInput {
    width: 20%;
    font-size: 1vw;
    padding: 1vw;
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cityInput:focus {
    outline: none;
}

/* Main content */
#content {
    display: grid;
    grid-template-areas:
        'loc curr aqi days'
        'hours hours hours days';
    width: 98%;
    margin: 1vw auto;
    gap: 1vw;
}

#futureDaysParent, #futureHoursParent, #current_weather, #location, #aqi, #astroData, #otherInfo{
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.7);
    margin: auto;
    text-align: center;
    padding: 2vw;
    border-radius: 2vw;
    justify-content: space-around;
}

#futureDaysParent {
    grid-area: days;
}

#futureDays {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#futureDaysHeading {
    display: flex;
    justify-content: space-around;
}

#futureHoursParent {
    grid-area: hours;
}

#futureHours {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5vw
}

#current_weather {
    grid-area: curr;
}

#location {
    grid-area: loc;
}

#aqi {
    grid-area: aqi;
}

/* #astroData {
    grid-area: astro;
}

#otherInfo {
    grid-area: info;
} */

img {
    display: block;
    margin: auto;
}

.futureDaysChild {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
