* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(2, 2, 65), rgb(4, 4, 117), rgb(4, 4, 170));
    background-size: auto;
}

#searchBar {
    background-color: rgba(200, 200, 200, 0.7);
    width: 98%;
    margin: 1vw auto;
    text-align: center;
    padding: 2vw;
    border-radius: 2vw;
}

#content {
    background-color: rgba(200, 200, 200, 0.7);
    width: 80%;
    line-height: 5vw;
    margin: 5vw auto;
    text-align: center;
    padding: 2vw;
    border-radius: 2vw;
}

#cityInput, button {
    font-size: 1vw;
    padding: 0.5vw;
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
